---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---


{% include base_path %}

<ul>
  <li>
    <a href="https://www.eng.uminho.pt/pt/investigareinovar/projetoscomempresas/Documents/projetoneXtSense.pdf" target="_blank" rel="noopener noreferrer">neXt Sense</a>:
    Safety Connected and Automated Vehicles (SIFN-01-9999-FN-179491)
  </li>
  <li>
    <a href="https://www.eng.uminho.pt/pt/investigareinovar/projetoscomempresas/Documents/proj_2814.pdf" target="_blank" rel="noopener noreferrer">iFactory</a>:
    Novas Capacidades de Industrialização (POCI-01-0247-FEDER-002814)
  </li>
  <li>
    <a href="http://dmml.ch/coordinance/" target="_blank" rel="noopener noreferrer">CoORDinance</a>:
    Shaping A Code of Conduct Concerning the ORD of the Indoor Positioning Research Field
  </li>
  <li>
    <a href="https://www.swissuniversities.ch/fileadmin/swissuniversities/Dokumente/Hochschulpolitik/ORD/Calls/Approved_Projects_Track_A_1st_Call.pdf" target="_blank" rel="noopener noreferrer">CoORDinates</a>:
    Towards a Consensus-based ORD Standard for the Indoor Positioning Community
  </li>
</ul>

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



